const AUTH0_CLIENT_ID = 'Kol8xxxxxxxxxxxxxxxxxxxxxxxxxxxx';
const AUTH0_DOMAIN = 'xxxxxxxxx.us.auth0.com';
const PRIVATE_ENDPOINT = 'https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/dev/api/addLease';

